@import "tailwindcss";
.ripple-gradient {
    background: linear-gradient(to right, #60a5fa, #7c3aed);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}